@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* INICIO COMPONENTES */
.header-conteiner {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: #5282E3;
    width: 100%;
    font-size: 1.4rem;

    & .arrecadacao {
        color: #FFBE58;
    }
}

/* FIM COMPONENTES */


body {
    width: 100%;
    z-index: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1C3464;
}

h1 {
    font-size: 1.5em;
    font-weight: 400;
    color: #5282E3;
}

button:hover {
    cursor: pointer;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    padding: 8px;
    z-index: 999;
    width: 100%;
    background-color: #1C3464;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #5282E3;
}

#logo>img {
    width: 50%;
}

#header-direita {
    display: flex;
    padding: 10px 30px;
    gap: 60px;
    align-items: center;
}

#btn-invisible {
    display: none;
}

nav a {
    gap: 30px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 30px;
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing: 3px;
}

nav ul li {
    display: inline-block;
}

#hamburger {
    display: none;
}

#hamburger-menu {
    display: none;
}

#botao-hamburger {
    display: none;
}

#busca {
    width: 70%;
}

.busca {
    color: #FFBE58;
}

#btn-login {
    padding: 10px 15px;
    background-color: #E3B652;
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}

#btn-login:hover {
    transition: 0.7s;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #E3B652;
}

#principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    width: 80%;
    margin: 120px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.gress {
    display: flex;
    margin: 15px auto;
    justify-content: center;
}

.text-detalhes-draft {
    color: #6e6a6a;
}

.btn-navegacao {
    display: flex;
    justify-content: space-between;
    padding: 10px 90px;
}

.principal-esq {
    width: 100%;
}

#laranja {
    color: #FFBE58;
}

.principal-esq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

/* Inicio Conteúdo da pagina */
.info-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px;
    box-shadow: 1px 2px 2px black;
    border-radius: 10px;
    width: 965px;
    height: 396px;
    margin: 40px;
    margin-bottom: 8px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fim Conteúdo da pagina */

/* Inicio Animações da pagina */
.btns-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
    gap: 20px;

    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 30px;
    }
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    left: 100%;
    transition: left 0.5s ease-in-out;
}

.slide.active {
    display: block;
    left: 0;
    transform: translateX(0px);
}

.btns-slider.active {
    background-color: red; /* Exemplo de estilo para o botão ativo */
}
/* Fim Animações da pagina */


/* Recuperar senha */

@keyframes slide-esq-senha {
    from {
        bottom: -450px;
    }

    to {
        bottom: 80px;
    }
}

#password-recovery {
    display: none;
    z-index: 999;
    margin: 0 auto;
    padding: 15px;
    position: absolute;
    animation: slide-esq-senha 1s forwards;
    left: 300px;
    border-radius: 12px;
    width: 55%;
    justify-content: center;
    background-color: #e0e0e0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

#pr-left>img {
    width: 70%;
}

#pr-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Descrição da ONG */
#descricao-ong {
    margin-top: 10px;
    width: 400px;
    height: 100px;
}

#areasDeAtuacao {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    flex-direction: column;
}

.opt-atuacao {
    display: flex;
    width: 130px;
    justify-content: left;
    font-size: 0.8em;

}

.row-checkbox {
    display: flex;
    justify-content: left;
    margin-right: 15px;
}

/* Responsivo */

@media (max-width: 481px) {
    body {
        width: 90%;
        font-family: 'Poppins', sans-serif;
        background-color: #1C3464;
        margin: 0 auto;
    }

    header {
        display: flex;
        position: fixed;
        top: 0px;
        left: 0px;
        padding: 8px;
        z-index: 999;
        width: 100%;
        background-color: #1C3464;
        justify-content: space-around;
        align-items: center;
        border-bottom: 2px solid #5282E3;
    }

    #header-direita {
        display: flex;
        padding: 5px 10px;
        gap: 10px;
        align-items: center;
    }

    #busca {
        width: 70%;
    }

    nav {
        display: none;
    }

    #hamburger {
        display: block;
        width: 50%;
    }

    #hamburger-menu {
        display: none;
        position: absolute;
        right: 15px;
        top: 0px;
        background-color: #1C3464;
    }

    @keyframes slide-menu {
        from {
            top: -100px
        }

        to {
            top: 20px
        }
    }


    #hamburger-menu ul li {
        list-style: none;
    }

    #hamburger-menu a {
        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
    }

    #botao-hamburger {
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }

    #hamburger-menu-slide {
        display: flex;
        position: absolute;
        animation: slide-menu 0.5s forwards;
        right: 15px;
        top: -100px;
        background-color: #1C3464;
    }

    #hamburger-menu-slide ul li {
        list-style: none;
    }

    #hamburger-menu-slide a {
        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
    }

    h1 {
        font-size: 1.3em;
        font-weight: 400;
        color: #5282E3;
    }

    .titulo-login,
    .titulo-cadastro {
        margin: 10px auto;
        text-align: center;
    }

    #principal {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        margin-top: 130px;
        margin-bottom: 30px;
        padding: 10px;
        background-color: #FFFFFF;
        border-radius: 8px;
    }

    .principal-esq {
        margin: 0 auto;
        padding-top: 20px;
        width: 80%;
    }

    .form-login {
        font-size: 1em;
        text-align: left;
        margin: 0 auto;
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .form-opcoes {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        font-size: 0.7em;
        align-items: center;
    }

    .login-submit {
        width: 190px;
        height: 40px;
        background-color: #E3B652;
        border-radius: 6px;
        font-size: 1em;
        font-weight: 600;
        color: black;
        border: none;
        margin: 20px auto;
    }

    #cadastrar-ong {
        display: flex;
        justify-content: center;
    }

    #cadastrar-ong>a {
        color: black;
        font-size: 0.7em;
        margin-bottom: 20px;
    }

    .principal-dir {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .principal-dir>img {
        width: 120%;
    }

    .form-cadastro {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 35px;
    }

    .progress {
        margin: 0 auto;
    }

    .progress>img {
        width: 100%;
    }

    #text-progress {
        display: flex;
        font-size: 0.3em;
        margin: 5px auto;
    }

    .btn-navegacao {
        display: flex;
        justify-content: center;
        margin: 5px auto;
        gap: 60px;
    }
}